<template>
  <div class="hexagram-drawing">
    <img :alt="lines[5].type" :src="lines[5].img"/>
    <img :alt="lines[4].type" :src="lines[4].img">
    <img :alt="lines[3].type" :src="lines[3].img"/>
    <img :alt="lines[2].type" :src="lines[2].img"/>
    <img :alt="lines[1].type" :src="lines[1].img"/>
    <img :alt="lines[0].type" :src="lines[0].img"/>
  </div>
</template>

<script>
export default {
  name: 'hexagram-drawing',
  props: {
    lines: {
      type: Array
    }
  },
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .hexagram-drawing {
    margin: 20px auto;
    max-width: 300px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
</style>
