<template>
  <div class="hexagram-reading">
    <h1 class="title">{{chapter.title}}</h1>
    <h2 class="subtitle">{{chapter.subtitle}}</h2>
    <div v-html=chapterText>
    </div>
    <p v-if=firstLine>
      {{chapter["first-line"]}}
    </p>
    <p v-if=secondLine>
      {{chapter["second-line"]}}
    </p>
    <p v-if=thirdLine>
      {{chapter["third-line"]}}
    </p>
    <p v-if=fourthLine>
      {{chapter["fourth-line"]}}
    </p>
    <p v-if=fifthLine>
      {{chapter["fifth-line"]}}
    </p>
    <p v-if=sixthLine>
      {{chapter["sixth-line"]}}
    </p>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  name: 'hexagram-reading',
  props: {
    lines: {
      type: Array
    },
    map: {
      type: Object
    },
    book: {
      type: Array
    }
  },
  computed: {
    linesDisplayed: function () {
      return _.map(this.lines, function (line) {
        return line.displayLine
      })
    },
    firstLine: function () {
      return this.linesDisplayed[0]
    },
    secondLine: function () {
      return this.linesDisplayed[1]
    },
    thirdLine: function () {
      return this.linesDisplayed[2]
    },
    fourthLine: function () {
      return this.linesDisplayed[3]
    },
    fifthLine: function () {
      return this.linesDisplayed[4]
    },
    sixthLine: function () {
      return this.linesDisplayed[5]
    },
    lowerTrigram: function () {
      return _.map(_.chunk(_.map(this.lines, function (line) {
        return line.type
      }), 3), function (hexagram) {
        return hexagram.toString()
      })[0]
    },
    upperTrigram: function () {
      return _.map(_.chunk(_.map(this.lines, function (line) {
        return line.type
      }), 3), function (hexagram) {
        return hexagram.toString()
      })[1]
    },
    lowerTrigramKey: function () {
      return this.map.trigrams[this.lowerTrigram]
    },
    upperTrigramKey: function () {
      return this.map.trigrams[this.upperTrigram]
    },
    hexagramIndex: function () {
      return this.map.hexagrams[this.upperTrigramKey][this.lowerTrigramKey]
    },
    chapter: function () {
      return this.book[this.hexagramIndex - 1]
    },
    chapterText: function () {
      return this.chapter.text.replace(/(?:\r\n|\r|\n)/g, '<br />')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
