<template>
  <div id="app">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">I Ching</h1>
                <button class="button is-primary" @click="execute">Consult the sage</button>
                <div v-if="lines" class="result">

                  <drawing :lines=lines></drawing>
                  <reading :lines=lines :map=hexagramMap :book=book></reading>
                </div>
            </div>
        </div>
    </section>
  </div>
</template>

<script>

import Drawing from './components/Drawing'
import Reading from './components/Reading'
import $ from 'jquery'
import _ from 'lodash'

function generateIntegers (n, min, max, id) {
  let data = {
    'jsonrpc': '2.0',
    'method': 'generateIntegers',
    'params': {
      'apiKey': 'b23adfe0-1807-4afd-a4dd-84d3172ce268',
      'n': n,
      'min': min,
      'max': max
    },
    id: id
  }

  return $.ajax({
    method: 'POST',
    headers: {
      'Content-Type': 'application/json-rpc'
    },
    url: 'https://api.random.org/json-rpc/1/invoke',
    data: JSON.stringify(data)
  })
}

export default {
  el: '#app',
  created: function () {
    $.getJSON('static/hexagram.json').then((map) => {
      this.hexagramMap = map
    })
    $.getJSON('static/iching.json').then((book) => {
      this.book = book
    })
  },
  data () {
    return {
      randomNumber: [],
      lines: null,
      hexagramMap: {},
      book: []
    }
  },
  methods: {
    execute: function () {
      generateIntegers(18, 2, 3, 42)
        .done((response) => {
          let chunkedNumbers = _.chunk(response.result.random.data, 3)
          let numbers = _.map(chunkedNumbers, function (value) {
            return _.reduce(value, function (sum, n) {
              return sum + n
            }, 0)
          })

          this.randomNumber = numbers

          let lines = []
          _.each(numbers, (num) => {
            let type = ''
            let displayLine = false

            if (num % 2 === 0) {
              type = 'yin'
            } else {
              type = 'yang'
            }

            if (num === 6 || num === 9) {
              displayLine = true
            }

            lines.push({
              type: type,
              displayLine: displayLine,
              img: 'static/img/' + type + '.png'
            })
          })

          this.lines = lines
        })
    }
  },
  components: { Drawing, Reading }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}

.result {
  padding: 10px 20px;
}
</style>
